<%= form_for @user do |f| %>

    <span class="title">First Name: </span><%= f.text_field :first_name %>
    <span class="title">Last Name: </span><%= f.text_field :last_name %>

    <span class="title">Email: </span><%= f.email_field :email %>

    <span class="title">Password: </span><%= f.password_field :password %>

    <span class="title">Avatar: </span><%= f.file_field :avatar %>
    
    <span class="title">Agency: </span><%= f.file_field :agency %>
    
    
  <%= f.submit "Submit", class: "small button" %>

<% end %>