<div class = "basic-container">

    <div class="profile-top columns small-12 medium-4">
        <div id="profile-photo" class="small-only-text-center">
        	<% if @user.avatar_file_name %>
        		<%= image_tag @user.avatar_url(:medium) %><br /><br />
        	<% end %>
        </div>

    	<div id="profile-info">
            <h3> User Profile </h3>
            <p><span class="title">First Name: </span><%= @user.first_name %></p>

            <p><span class="title">Last Name: </span><%= @user.last_name %></p>

            <p><span class="title">Email: </span><%= @user.email %></p>

            <!-- <p><span class="title">Phone Number: </span><%# @user.phone_number %></p><br /> -->
            <p><%=link_to "Edit Profile Info", edit_user_path(current_user)%></p>
        </div>
    </div>
    <div class="profile-locations columns small-12 medium-8">
        <% @locations = @user.locations%>
        <%= render partial: 'locations/list'%>
    </div>
</div>


