  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type= "text/javascript" 
          src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true">
  </script>


  <h3> Open Houses <%=link_to "Add", new_location_path(current_user), class: "tiny button addbtn" %></h3>
        <% @locations.each do |l| %>
            <%= link_to location_path(l) do%>
            <dl class="accordion" data-accordion>
              <dd class="accordion-navigation">
                <a href="#panel2"class="OpenHouseInfo">Open House Info</a>
                 <div id="panel2" class="content"> 
                <div class="locationpanel panel callout radius columns small-12">
                    <div class="columns small-12 medium-6">
                    	<% if l.picture_file_name %>
                        	<%= image_tag l.picture_url(:small) %>
                        <% else %>
                        	<%= image_tag 'missing_location_image.jpg'%>
                        <% end %>
                    </div>
                    <div class="columns small-12 medium-6">
                        <p>
                            <span class="title"> Owner: </span> 
                            <%= link_to l.owner %>
                        </p>
                        <p>
                            <span class="title"> Address: </span> 
                            <%= l.address %> 
                            <br>
                            <%= l.city %>, <%= l.state %>, <%= l.zip_code %>
                        </p>
                        <p>
                            <span class="title"> Visitor: </span> 
                            <%= link_to l.visitors.count, location_path(l) %>
                        </p>
                        
                    </div>
                    <% if current_user == l.user %>
                            <div class="editbtn"><%=link_to "Edit", edit_location_path(l), class: "small" %></div>
                            <div class="newbtn"><%=link_to "Add Visitor", new_location_visit_path(l), class: "small" %></div>

                    <% end %>
                    <br />
                    <br />
                    
                </div>
            </div>
        </dd>
    </dl>
            <% end %>
        <% end %>



<script type="text/javascript">
    
    var map;
    var service;
    function handleSearchResults(results, status)
    {
        console.log(results);

        for(var i = 0; i < results.length; i++) {

            var marker = new google.maps.Marker({
            position: results[i].geometry.location,
            map: map, 
            icon: results[i].icon //change here if you want to input custom pic of marker
            });
        }
    }

    function performSearch()
    {   
        var request = {
            bounds: map.getBounds(), //restricts location search to whatever is in the view of map
            street_address: ""
        }
        service.nearbySearch(request, handleSearchResults);
    }
    function initialise(location)
    {
        console.log(location);

        var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
        // var myLatLng = new google.maps.LatLng(<%# location.latitude%>, <%# location.longitude%>);

        var mapOptions = {
            center: currentLocation,
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: currentLocation,
            map: map
        });

        service = new google.maps.places.PlacesService(map);
        
        //this ensures we wait until the map bounds are initialised before we perform the search
        //waits until the bounds exist before it starts to search. 
        google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);

    }

    $(document).ready(function()
    {
        navigator.geolocation.getCurrentPosition(initialise);
    });
</script>

<!-- function initialize() {
 
    var myLatLng = new google.maps.LatLng( 34.045744, -118.439904); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects
    var mapOptions = {
    center: myLatLng,
    zoom: 9
};

  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

  getLocations();

  function getLocations() {

    $.ajax ({
      type: "GET",
      dataType: "json",
      url: "http://localhost:3000/locations.json"
  }).done(function(data){
      mapLocations(data);
  });
}


function mapLocations(spot_data) {

          // for loop to place each marker with info from the JSON

          for (i=0; i < 7; i++) {
            newMarker = new google.maps.Marker({
              position: new google.maps.LatLng(location_data["locations"][i]["latitude"], location_data["locations"][i]["longitude"]),
              map: map,
              title: (location_data["locations"][i]["name"])
          });

        };
    }
  
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

 -->