  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type= "text/javascript" 
          src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=true">
  </script>

  <h3 class="addhome"> Open Houses <%=link_to "Add", new_location_path(current_user), class: "tiny button addbtn" %></h3>
        <dl class="accordion row panel" data-accordion>
            <% @locations.each_with_index do |l,index| %>
              <dd class="accordion-navigation">
                <a href="#panel<%=index%>" class="OpenHouseInfo columns small-12">
                    <div class="columns small-12 medium-4 left">
                        <%= l.address.titleize %>
                    </div>
                    <div class="columns small-12 medium-4 left">
                        <%= l.city.titleize %>, <%= l.state.upcase %>, <%= l.zip_code %>
                    </div>
                    <div class="columns small-12 medium-4 left">
                        <%= link_to l.visitors.count,location_path(l) %> - Visitors
                        &nbsp;&nbsp;<%=link_to "", location_path(l), class: "fi-magnifying-glass size-24" %>
                    </div>
                </a>
                <div id="panel<%=index%>" class="<%= index == 0 ? 'active ' : '' %>content columns small-12">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#main<%=index%>">Main</a></dd>
                    <dd><a href="#visits<%=index%>">Visitors</a></dd>

                </dl>
                    <div class="tabs-content columns small-12 no-pad">
                        <div class="content active columns small-12 " id="main<%=index%>">
                            <div class="locationpanel panel callout radius columns small-12">
                        <div class="columns small-12 medium-6">
                            <% if l.picture_file_name %>
                                <%= image_tag l.picture_url(:small) %>
                            <% else %>
                                <%= image_tag 'missing_location_image.jpg'%>
                            <% end %>
                        </div>
                        <div class="columns small-12 medium-6">
                            <p>
                                <span class="title"> Owner: </span> 
                                <%= l.owner.titleize %>
                            </p>
                            <p>
                                <span class="title"> Address: </span> 
                                <br>
                                <%= l.address.titleize %> 
                                <br>
                                <%= l.city.titleize %>, <%= l.state.upcase %>, <%= l.zip_code %> 
                                <% if current_user == l.user %>
                                    &nbsp;&nbsp;&nbsp;<%=link_to "edit", edit_location_path(l) %>
                                <% end %>
                            </p>
                            <p>
                                <span class="title"> Visitor: </span> 
                                <%= link_to l.visitors.count, location_path(l) %>
                            </p>
                            <p>
                                <% if current_user == l.user %>
                                    <%=link_to "Add Visitor", new_location_visit_path(l) %>
                                <% end %>
                            </p>
                        </div>
                    </div>





                        </div>
                        <div class="content" id="visits<%=index%>">
                            <% visits = l.visits.group_by{ |x| x.created_at.to_date}%>
                            <%= render 'locations/list_view', :visits => visits, :location => l%>
                        </div>
                    </div>
                </div>
            </dd>
         <% end %>
    </dl>
       
<!-- Thinking of incorporating GoogleMaps API but not now-->
<!-- <div id="map_canvas" class= "small-5 columns"></div>
 -->
<script type="text/javascript">
    
//     var map;
//     var service;
//     function handleSearchResults(results, status)
//     {
//         console.log(results);

//         for(var i = 0; i < results.length; i++) {

//             var marker = new google.maps.Marker({
//             position: results[i].geometry.location,
//             map: map, 
//             icon: results[i].icon //change here if you want to input custom pic of marker
//             });
//         }
//     }

//     function performSearch()
//     {   
//         var request = {
//             bounds: map.getBounds(), //restricts location search to whatever is in the view of map
//             street_address: ""
//         }
//         service.nearbySearch(request, handleSearchResults);
//     }
//     function initialise(location)
//     {
//         console.log(location);

//         var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);
//         // var myLatLng = new google.maps.LatLng(<%# location.latitude%>, <%# location.longitude%>);

//         var mapOptions = {
//             center: currentLocation,
//             zoom: 9,
//             mapTypeId: google.maps.MapTypeId.ROADMAP
//         };

//         map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

//         var marker = new google.maps.Marker({
//             position: currentLocation,
//             map: map
//         });

//         service = new google.maps.places.PlacesService(map);
        
//         //this ensures we wait until the map bounds are initialised before we perform the search
//         //waits until the bounds exist before it starts to search. 
//         google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);

//     }

//     $(document).ready(function()
//     {
//         navigator.geolocation.getCurrentPosition(initialise);
//     });
// </script>

<!-- function initialize() {
 
    var myLatLng = new google.maps.LatLng( 34.045744, -118.439904); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects
    var mapOptions = {
    center: myLatLng,
    zoom: 9
};

  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

  getLocations();

  function getLocations() {

    $.ajax ({
      type: "GET",
      dataType: "json",
      url: "http://localhost:3000/locations.json"
  }).done(function(data){
      mapLocations(data);
  });
}


function mapLocations(spot_data) {

          // for loop to place each marker with info from the JSON

          for (i=0; i < 7; i++) {
            newMarker = new google.maps.Marker({
              position: new google.maps.LatLng(location_data["locations"][i]["latitude"], location_data["locations"][i]["longitude"]),
              map: map,
              title: (location_data["locations"][i]["name"])
          });

        };
    }
  
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

 -->
