<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Open-House-Organizer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Abril Fatface&subset=latin" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <%# stylesheet_link_tag "responsive-tables.css"%>
    <link rel="stylesheet" href="foundation-icons.css" />

  </head>

  <body>
      <div class="sticky">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
              <!--   <a class="navbar-brand" href="#"><img class="logo" src="open_house_logo.jpg" alt=""></a> -->
                <h1><a><%= link_to "Home", root_path %></a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#">  </a></li>
            </ul>

          <section class="top-bar-section">
              <% if current_user || session[:remember_token] %>
              <ul class="right hide-for-small-only">
                  <li><%= image_tag current_user.profile_picture_url %></li>
                  <li class="has-dropdown">
                    <a href="#">Welcome <strong><%= current_user.full_name%></strong>! </a>
                    <ul class="dropdown"> 
                      <li><%=link_to "Home", root_path%></li>
                      <li><%=link_to "My Profile", user_path(current_user)%></li>
                      <li><%=link_to "My Open Houses", users_location_path(current_user)%></li>
                      <li><%=link_to "Edit Profile Info", edit_user_path(current_user)%></li>
                      <li><%=link_to "Sign out", signout_path, id: "sign_out" %></li>
                    </ul>
                  </li>
              </ul>
               <ul class="right show-for-small-only">
                      <center><li><%=link_to "Home", root_path %></li></center>
                      <center><li><%=link_to "My Profile", user_path(current_user)%></li></center>
                      <center><li><%=link_to "My Open Houses", users_location_path(current_user)%></li></center>
                      <center><li><%=link_to "Edit Profile Info", edit_user_path(current_user)%></li></center>
                      <center><li><%=link_to "Sign out", signout_path, id: "sign_out" %></li></center>
               </ul>
                  <% else %>
                  <ul class="right">
                    <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
                    <li><%= link_to "Sign Up", new_user_path %></li>
                    <li><%= link_to "Sign In", new_session_path %></li>
                  <% end %>  
                  </ul>      
          </section>
        </nav>
      </div>


       <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>

      <%= javascript_include_tag "application" %>
      <%# params %>
  </body>
</html>